body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#poster-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    height: 100vh;
    width: 100vw;
}
.moviePoster{
    height: 250px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
}
.poster{
    padding-top: 2px;
 height: 70%;
 width: 80%;
 aspect-ratio: 1;
}
.movieData{
    height: 75px;
    width: 100%;
}
.titleYear{
    text-align: center;
}
